* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    background-color: rgb(77, 74, 74);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    /* height: 100px; */
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    background-color: transparent;
    height: 60px;
    padding: 30px;
    top: 0;
    left: 0;
    position: relative;
}

header h1 {
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-icon a {
    width: 100%;
    cursor: pointer;
    margin-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.menu-icon a:hover {
    border-bottom: 10px solid #c9802e;
}

.grid-premiere {

    width: 100%;
    /* min-height: 100vh; */
    background-image: url("portfolio-images/background4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 150px;
    margin-top: -60px;
}

.nom-list {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
    padding: 20px 160px 0px 160px;
}

.nom-list nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nom-list h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;
}

#un {
    color: #c9802e;
    font-weight: bolder;
}

.nom-list ul li a {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.nom-list ul li:hover {
    border-bottom: 8px solid #c9802e;
    ;
}

.grid-premiere p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    padding: 220px 0px 0px 160px;
}

.salutnomcomplet {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 50px;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin-bottom: 150px;
}

.salutnomcomplet p {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -20px;
}

.salutnomcomplet h2 {
    color: white;
    margin-left: 160px;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #c9802e;
}

#dernier {
    font-size: 2rem;
    padding-bottom: 30px;
}

/* début de la section 2 ( a propos) */

.apropos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-bottom: 160px;
    padding: 0px 200px 0px 200px;
   
}


.apropos2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apropos .apropos1 img {

    border-radius: 30px;
    width: 100%;
    /* margin: 100px 0px 100px 0px; */
}

.textepropos {
    font-size: 2rem;
}

.textepropos h2 {
    font-size: 5rem;
    color: white;
    margin-bottom: 30px;

}

.textepropos p {
    font-size: 1.8rem;
    color: rgb(207, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.list3 {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    gap: 35px;
    border-bottom: 1px solid #c9802e;
    margin-bottom: 10px;
    
    
}

.list3 h2 {
   position: relative;
    font-size: 2rem;
    margin-top: 0;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}



.compet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.experim {
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 15px;
    flex: 1;
    /* margin-bottom: 70px; */
}

.educat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}



/* Cache le texte par défaut */
.tab-content {
    display: none;
    width: 100%;
    text-align: left;
   
    
}
.tab-content p {
     font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: rgb(207, 203, 203);
}
.tab-content p span {
    color: #c9802e;
    font-weight: bold;
}

/* Affiche le texte seulement quand le parent a la classe .active */
.tab-content.active {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    animation: slideUpFade 0.6s ease-out;/* Optionnel : pour un effet doux */

}
@keyframes slideUpFade {
    from { opacity: 0;  transform: translateY(20px );}
    to { opacity: 1;  transform: translateY(0);}
}
.tab-title.active {
    
    color: #8d6102;
}
.tab-title {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
    transition: color 0.3s ease, border-bottom 0.8s ease; /* Animation de 0.3s */
}
.tab-title::after {
    content: "";
    position: absolute;
    bottom: 0; /* Ajuste selon tes besoins */
    right: 40%;
    width: 0;
    height: 3px; /* Épaisseur de la ligne */
    background-color: #c9802e; /* Couleur de la ligne */
    transition: width 0.4s ease, left 0.4s ease;
}

.tab-title.active::after {
    
    left: 25;
    width: 60%;
    height: 8px;
}


/* debut de la section 3 ( mes services) */

.messervices {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0px 200px 0px 200px;
    margin-bottom: 100px;

}

.messervices h2 {
    font-size: 7rem;
    color: white;
    margin-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.messervices2 {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    width: 100%;
    gap: 30px;



}

.messervices2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: white;
}

.messervices2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
}

.messervices2 img {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.messervices2 span {
    cursor: pointer;
    color: white;
}

.servicesgeneral {
    width: 100%;
    background-color: rgb(39, 38, 38);
    border-radius: 30px;
    padding: 20px;

    flex: 1;

}

/* .création{
   padding: 20px 0px 0px 20px;
   margin-right: 60px;
   
} */
.servicesgeneral:hover {
    background-color: #c9802e;
    transform: translate(-10px, -30px);
    transition: 0.8s ease;
}

.maintenan {
    width: 100%;
    flex: 1;
    background-color: rgb(39, 38, 38);
    /* padding: 20px 0px 0px 20px; */
    border-radius: 30px;
    padding: 20px;

}

.maintenan:hover {
    background-color: #c9802e;
    transform: translate(-10px, -30px);
    transition: 0.8s ease;
}

.maintenan p {
    /* margin-right: 80px; */
}

.debloc {
    /* width: 100%; */
    width: 100%;
    background-color: rgb(39, 38, 38);
    /* padding: 20px 0px 0px 20px; */
    border-radius: 30px;
    padding: 20px;

    flex: 1;
}

.debloc:hover {
    background-color: #c9802e;
    transform: translate(-10px, -30px);
    transition: 0.8s ease;
}

.debloc p {
    /* margin-right: 80px; */
}

.titre3 h2 {
    font-size: 7rem;
    color: white;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
}

/* section bouton */
.btn1 {
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'arial';
    scroll-behavior: smooth;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #c9802e;
    padding: 25px 70px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 1.5s;
}

.btn1:hover {
    font-size: 40px;
    border-bottom: 4px solid #fdfdfd;
    border-right: 7px solid #fdfdfd;
    color: #000000;
    background: #c9802e;
    transition-duration: 1500ms;
}


/* section contacts */

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* deux colonnes */
    /* gap: 40px;                      espace entre les colonnes */
    padding: 100px 200px;
    background: #3d3d3d;
    /* couleur comme ton image */
    color: #fff;
    /* gap: 30px; */
}

/*** COLONNE GAUCHE ***/
.contact-left h2 {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.info i {
    font-size: 45px;
    color: #c9802e;
}

.contact-left .info p {
    margin: 55px 0;
    font-size: 2rem;
    color: rgb(207, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
}

.icon-spacing {
    margin-right: 50px;
}

.socials i {
    color: white;
    font-size: 58px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.socials i:hover {
    color: rgb(250, 144, 4);
    transform: scale(1.2);
}

/*** BOUTON ***/
.cv-btn {
    height: 80px;
    font-size: 30px;
    display: inline-block;
    margin-top: 80px;
    padding: 20px 50px;
    border: 1px solid #c9802e;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-btn:hover {
    background-color: #c9802e;
    border-bottom: 4px solid #fdfdfd;
    border-right: 7px solid #fdfdfd;
    color: #000000;
}

/*** FORMULAIRE À DROITE ***/
.contact-form {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    background: #212121;
    border: none;
    border-radius: 10px;
    padding: 38px;
    font-size: 24px;
    color: #fff;
}

.contact-form textarea {
    height: 350px;
    resize: vertical;
}




.btn2 {
    height: 80px;
    width: max-content;
    padding: 20px;
    font-size: 2rem;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    border: 1px solid #c9802e;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.btn2:hover {
    background-color: #c9802e;
    border-bottom: 4px solid #fdfdfd;
    border-right: 7px solid #fdfdfd;
    color: #000000;
}



/* section footer  */

footer .derniertext {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    background: #070101;
    font-weight: 300;

}

.derniertext p {
    color: white;
    font-size: 2rem;
}

/* debut section gallery */
.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin: 0 auto;
    padding: 0px 200px;
}

.card {
    position: relative;
    width: 100%;
    height: 800px;
    /* obligatoire pour que l’overlay ait quelque chose à couvrir */
    /* overflow: hidden; */
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}

.overlay {
    position: absolute;
    bottom: 0;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #c9802e);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: opacity 0.5s ease; */
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    padding: 80px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover .overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.overlay h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    background-color: transparent;
}

.overlay p {
    font-size: 2rem;
    margin-bottom: 30px;
}

.overlay i {
    font-size: 4rem;
    cursor: pointer;
    color: white;
}




/*** RESPONSIVE ***/
/* debut responsive écran    1440       header et grid premiere ecran   1440 */
@media(max-width: 1440px) {
    .logo {
        font-size: 1.7rem;
        grid-template-columns: 1fr;
        /*une seule colonne*/
        padding-left: 30px;
    }

    .menu-icon a {
        font-size: 1.5rem;
        margin-right: 30px;
    }

    /* fin header                     debut section grid premiere     1440*/

    .salutnomcomplet p {
        font-size: 2rem;
        padding-left: 60px;
    }

    .salutnomcomplet h2 {
        font-size: 4rem;
        margin-left: 60px;
    }

    /* grid premiere                     debut section a propos     1440*/
    .apropos {
        padding: 0px 100px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .textepropos h2 {
        font-size: 4rem;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .textepropos p {
        font-size: 1rem;
    }

    .list3 p {
        font-size: 1rem;
    }
    .tab-content p {
        font-size: 1rem;
    }

    /* debut section .messervices 1440 */

    .messervices {
        padding: 0px 100px 100px 100px;
        margin-bottom: 0;
    }

    .messervices h2 {
        display: flex;
        justify-content: left;
        font-size: 4.5rem;
        margin-bottom: 50px;
    }

    .messervices2 {
        width: 100%;
        flex: 1;
    }

    .messervices2 h2 {
        font-size: 2rem;
    }

    .servicesgeneral img,
    .maintenan img,
    .debloc img {
        margin-bottom: 30px;
    }

    .servicesgeneral h2,
    .maintenan h2,
    .debloc h2 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }

    .servicesgeneral p,
    .maintenan p,
    .debloc p {
        font-size: 1rem;
    }

    /* fin section mes services          1440            debut section mon portefeuille 1440 */

    .titre3 h2 {
        font-size: 4rem;
        display: flex;
        justify-content: left;
        margin-left: 100px;
        margin-bottom: 40px;
    }

    .galery {
        padding: 0px 100px;
        gap: 30px;
    }


    .card {
        height: 500px;
    }

    .card h3 {
        font-size: 2rem;
    }

    .card p {
        font-size: 1.2rem;

    }

    .card .overlay {
        min-width: 0;
    }

    .overlay {
        width: 100%;
        padding: 5px;
    }

    .overlay p,
    .overlay h3 {
        width: 100%;
        text-align: center;
    }

    .overlay i {
        font-size: 2rem;
    }

    .btn1 {
        font-size: 2rem;
        padding: 10px 40px;
    }

    /* debut section contact            écran 1440 */
    .contact {
        padding: 20px 80px;
        gap: 70px;
    }

    .contact-left h2 {
        font-size: 3.2rem;
    }

    .info i {
        font-size: 24px;
    }

    .contact-left .info p {
        font-size: 1rem;
    }

    .socials i {
        font-size: 32px;
    }

    .cv-btn {
        padding: 10px 20px;
        font-size: 1.3rem;
        height: 50px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 20px;
        font-size: 1.2rem;
    }

    .contact-form textarea {
        height: 200px;
    }

    .btn2 {
        height: 50px;
        padding: 10px 20px;
        font-size: 1.3rem;
    }

    .derniertext p {
        font-size: 1.2rem;
        padding: 0;
    }
}

/* debut responsive écran 1717 */

@media(max-width: 1717px) {
    .logo {
        font-size: 1.5rem;
        grid-template-columns: 1fr;
        /*une seule colonne*/
        padding-left: 20px;
    }

    .menu-icon a {
        font-size: 1.8rem;
        margin-right: 20px;
    }
}

/* fin responsive écran    1375*/

/* debut responsive écran 1375 */

@media(max-width: 1375px) {
    .logo {
        font-size: 1.5rem;
        grid-template-columns: 1fr;
        /*une seule colonne*/
        padding-left: 20px;
    }

    .menu-icon a {
        font-size: 1.3rem;
        margin-right: 20px;
    }
}

/* fin responsive écran    1375*/

/* debut responsive écran 1024          section grid premiere ecran   1024*/
@media(max-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding: 15px;
        gap: 20px;
    }

    .logo {
        font-size: 1.3rem;
        grid-template-columns: 1fr;
        /*une seule colonne*/
        margin-left: 30px;
    }

    .menu-icon a {
        font-size: 1.2rem;
        margin-right: 27px;
    }




    .salutnomcomplet p {
        font-size: 2rem;
    }

    .salutnomcomplet h2 {
        font-size: 4rem;
        margin-left: 40px;
    }

    .grid-premiere p {
        font-size: 2rem;
        padding: 150px 0px 0px 40px;
    }

    /* fin grid premiere                     debut section a propos     1024*/
    .apropos {
        padding: 0px 50px 0px 50px;
        display: grid;
        grid-template-columns:1fr 2fr;
        align-items: flex-start;
        gap: 30px;
    }

    .textepropos h2 {
        font-size: 4rem;
    }

    .list3 h2 {
        font-size: 1.4rem;
    }

    /* debut section mes services              ecran 1024 */
    .messervices {
        padding: 0px 50px 70px 50px;
    }

    .messervices2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .titre3 h2 {
        font-size: 4rem;
        display: flex;
        justify-content: left;
        margin-left: 100px;
        margin-bottom: 40px;
    }

    .galery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 50px;
        gap: 50px;
    }

    .card {
        height: 500px;
    }

    .card h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .card p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .card .overlay {
        min-width: 0;
    }

    .overlay {
        width: 100%;
        padding: 5px;
    }

    .overlay p,
    .overlay h3 {
        width: 100%;
        text-align: center;
    }

    .overlay i {
        font-size: 2rem;
    }

    /* fin section mon portefeuille ecran 1024 et debut boutton ecran 1024 */

    .btn1 {
        font-size: 1.2rem;
        padding: 10px 50px;
        margin: 30px auto;
    }

    /* debut section contact            écran 1024 */
    .contact h2 {
        font-size: 2.1rem;
    }

    .socials i {
        font-size: 30px;
        margin-right: 0;
    }

    .cv-btn {
        padding: 20px 10px;
        font-size: 1rem;
        height: 55px;
    }
    .btn2 {
        height: 40px;
        padding: 10px 45px;
        font-size: 1.2rem;
        margin-top: 30px;
        margin-left: 160px;
    }
}

/* fin responsive écran 1024   */

/* debut responsive écran 768          section grid premiere ecran   768*/
@media(max-width: 768px) {
  

    .grid-premiere p {
        font-size: 1.4rem;
        padding: 100px 0px 0px 20px;
    }

    .grid-premiere h2 {
        font-size: 2.5rem;
    }

    #dernier {
        font-size: 1rem;
    }

    /* fin grid premiere                     debut debut a propos ecran 768  */
    .apropos {
        padding: 0px 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .textepropos h2 {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .textepropos p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    .list3 h2 {
        font-size: 2rem;
    }
    .tab-content p {
        font-size: 1rem;
    }
    .btn1 {
        font-size: 20px;
        padding: 11px 35px;
        margin: 30px auto;
    }

    /* debut section contact             ecran 768 */
    .contact {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .cv-btn {
        margin-top: 50px;
    }

    .contact-form btn2 {
        margin-top: 50px;
    }
}

/* fin responsive écran 768  */

/* debut responsive écran 475          header et grid premiere ecran   475 */
@media(max-width: 475px) {
    header {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding: 15px;
        gap: 10px;
    }

    .logo {
        font-size: 1.2rem;
        grid-template-columns: 1fr;
        /*une seule colonne*/
        margin-left: 20px;
    }

    .menu-icon a {
        font-size: 1rem;
        margin-right: 20px;
    }
    .grid-premiere {
        margin-bottom: 70px;
    }

    .apropos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        margin: auto;
    }

    .apropos1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: normal;
        width: 100%;
        padding: 20px;
    }

     .messervices2 {
        display: grid;
        grid-template-columns: 1fr;
    }
     .galery {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 20px;
        gap: 30px;
    }
      .contact{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 20px 20px;
    }
     .btn2 {
        margin-left: 120px;
        padding: 10px 30px;
    }

}



/* debut responsive écran 425          section grid premiere ecran   425*/
@media(max-width: 425px) {
    .salutnomcomplet {
        margin-bottom: 10px;
    }

    .grid-premiere p {
        font-size: 1.1rem;
        padding: 100px 0px 0px 10px;
        font-weight: bold;
        color: rgb(255, 187, 0);
    }

    .grid-premiere h2 {
        font-size: 2rem;
        margin-left: 10px;
    }

    #dernier {
        font-size: 0.8rem;
        color: white;
    }

    /* fin grid premiere                     debut section a propos ecran 425  */
    .grid-premiere {
        margin-bottom: 70px;
    }

    .apropos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: normal;
        padding: 10px 10px;
        margin-bottom: 20px;
    }
   

    .apropos1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: normal;
        width: 100%;
        padding: 20px;
    }
    

    .textepropos h2 {
        font-size: 2rem;
    }

    .textepropos p {
        padding: 10px;
        font-size: 0.9rem;
        ;
    }

    .list3 {
        padding: 10px;
    }

    .list3 p {
        font-size: 0.9rem;
    }

    .list3 h2 {
        font-size: 1.1rem;
    }

    /* debut section mes services            ecran 425 */
    .messervices {
        padding: 30px;
        gap: 0;
        margin-bottom: 30px;
    }

    .messervices2 {
        display: grid;
        grid-template-columns: 1fr;

    }

    .messervices h2 {
        font-size: 2rem;
        margin-bottom: 30px;
        
    }



    /* fin section mes services ecran 425           debut section mon portefeuille ecran 425 */
    .titre3 h2 {
        font-size: 2.7rem;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .galery {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 20px;
        gap: 30px;
    }

    .btn1 {
        font-size: 20px;
        padding: 12px 40px;
        margin: 20px auto;
    }
    /* debut section contact écran 425 */
    .contact{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 20px 20px;
    }
    .contact-left .info p{
        margin: 20px;
    }
    .cv-btn{
        padding: 10px 6px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        max-width: min-content;
    }
    .contact-form{
        width: 100%;
    }
    .btn2 {
        margin-left: 90px;
        padding: 10px 30px;
    }
}

/* fin responsive écran 425 */

/* debut section mes services            ecran 375 */
@media(max-width: 375px) {
   
    .menu-icon a {
        font-size: 1rem;
        margin-right: 20px;
    }
    .salutnomcomplet h2 {
        font-size: 1.7rem;
        margin-left: 10px;
    }
    .list3 h2 {
        font-size: 1rem;
    }
    .apropos2 .textepropos h2 {
        font-size: 2rem;
       
    }
    .apropos2 .textepropos p {
        padding: 0px 20px;
        font-size: 0.9rem;
        margin-bottom:20px;
    }
    .tab-content p {
     font-size: 1rem;
     padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: rgb(207, 203, 203);
}
.tab-content p span {
    color: #c9802e;
    font-weight: bold;
}

    .messervices {
        padding: 20px;
        gap: 0;
        margin-bottom: 20px;
    }
    .messervices h2 {
        font-size: 2rem;
    
    }
    .servicesgeneral{
        padding: 20px 10px;
    }
    .maintenan{
        padding: 20px 10px;
    }
    .debloc{
        padding: 20px 10px;
    }
    .messervices2 img{
        width: 20%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .messervices2 h2 {
        font-size: 1.3rem;
    }
    .messervices2 p{
        font-size: 1rem;
    }
    
   

    /* debut section mon portefeuille ecran 375 */
    .titre3 h2 {
        font-size: 2rem;
        margin-left: 22px;
        margin-bottom: 20px;
    }
    .btn1{
        font-size: 18px;
        padding: 10px 30px;
        margin: 20px auto;
    }
   
    /* debut section contact            ecran 375  */
    .contact {
        padding: 20px 15px;
    }
    .contact-left h2 {
        font-size: 2rem;
    }
     .cv-btn {
        margin-top: 20px;
        padding: 10px;
        font-size: 1rem;
        height: 40px;
    }
    .btn2 {
        height: 40px;
        padding: 10px;
        font-size: 1rem;
        margin-left: 100px;
    }

    footer .derniertext p {
        font-size: 1rem;
        padding: 0;
    }
}

/* fin section mes services ecran 375            */

/* debut grid premiere    320          et       debut section a propos ecran 320  */
@media(max-width: 320px) {
    .grid-premiere h2 {
        font-size: 1.6rem;
        margin-left: 5px;
    }

    #dernier {
        color: #c9802e;
    }
    .tab-content p {
     font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    }

    .list3 {
        padding: 0px 10px;
        gap: 10px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .list3 p {
        font-size: 0.8rem;
    }

    .list3 h2 {
        font-size: 0.8rem;
    }
    .salutnomcomplet p{
        font-size: 1rem;
    }   
}




/* Menu en sidebar à partir de 768 */

/* Style pour mobile et tablettes jusqu'à 760px */
#menuBtn {
    display: none; /* Le bouton disparait sur ordinateur */
}
@media (min-width: 320px) and (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        right: -100%; /* Cache la sidebar à droite */
        left: auto;
        width: 250px;
        height: 100vh;
        background-color: #c9802e; /* Couleur sombre du thème */
        transition: 0.5s ease; /* Animation de glissement */
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 60px 40px;
    }
      /* Classe qui sera ajoutée en JavaScript pour ouvrir le menu */
    header.active {
        right: 0;
        left: auto;
    }
    .menu-icon a {
        display: flex;
        font-size: 1.5rem;
        margin-right: 20px;
       
    }
    .menu-icon{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 200px;
    }
    .logo {
        margin-left: 0px;
        padding: 0px;
    }
    #menuBtn{
    display: block;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1100; 
    background-color: #c9802e; 
    color: #fff; 
    border: none; 
    padding: 5px; 
    font-size: 15px; 
    cursor: pointer;
    border-radius: 2px;
}
.menu-icon a:hover {
    border-bottom: 3px solid #042ce0;
}
    
}







